.accordion-item {
    border-bottom: 1px solid #ede2e2;
  }
  
  .accordion-title {
    background-color: #efe6e6;
    padding: 10px;
    cursor: pointer;
  }
  
  .accordion-content {
    display: none;
    padding: 10px;
  }
  
  .accordion-content.show {
    display: block;
  }
  